<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
    
        <div class="contenedor">
            <h1>Iniciar sesión</h1>
            <form class="form form-floating" (submit)="onSubmit($event)">
                <div class="form-floating mb-3">
                    <input type="email" [(ngModel)]="userLogin.email" name="email" class="form-control" id="floatingInput" required placeholder="nombre@dominio.com" >
                    <label for="floatingInput">Correo</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" [(ngModel)]="userLogin.password" name="password" id="floatingPassword" required placeholder="********" >
                    <label for="floatingPassword">Contraseña</label>
                </div>
                <div *ngIf="message" class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <button type="submit" class="btn">Inicar sesión</button>
            </form>
            <p>¿No tienes una cuenta? <a routerLink="register">Registrate</a></p>
        </div>
    </div>
</body>
</html>


