<app-navbar></app-navbar>

<div class="container">
    <form>
        <div class="mb-2">
            <label for="">Nombre del paquete</label>
            <input type="text" name="packageName" id="packageName" class="form-control" >
        </div>
        <div class="mb-2">
            <label for="">Lugar del paquete</label>
            <input type="text" name="packagePlace" id="packagePlace" class="form-control" >
        </div>
    
        <button class="btn btn-primary" style="width: 100%;">Guardar</button>
    </form>
</div>