<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Información de sensores</title>
</head>
<body>
  <app-navbar></app-navbar>
    <div class="container">
      <div class="paquete-container bg-light p-4 rounded border-gray shadowed">
        <div class="live-indicator">VIVO</div>
      <h1 class="mb-4">Paquete: <!--{{paquetes[0].nombre_paquete}} --> Quinta Jose Torres xd.</h1>
      
      <div class="row">
        <!-- Sensor 1 -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card shadowed">
            <div class="card-body">
              <h2 class="card-title">
                <i class="material-icons">thermostat</i> <!-- Icono de temperatura -->
                Sensor Temperatura
              </h2>
              <p class="card-text">Información del Sensor</p>
              <p class="card-text">Información del Sensor</p>
            </div>
          </div>
        </div>
        
        <!-- Sensor 2 -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card shadowed">
            <div class="card-body">
              <h2 class="card-title">
                <i class="material-symbols-outlined">
                water_ph</i> <!-- Icono de temperatura -->
                Sensor PH
              </h2>
              <p class="card-text">Información del Sensor</p>
              <p class="card-text">Información del Sensor</p>
              <p class="card-text">Información del Sensor</p>
    
            </div>
          </div>
        </div>
        
        <!-- Sensor 3 -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card shadowed">
            <div class="card-body">
              <h2 class="card-title">
                <i class="material-symbols-outlined">water_full</i> <!-- Icono de temperatura -->
                Sensor Turbidez
              </h2>
              <p class="card-text">Información del Sensor</p>
              <p class="card-text">Información del Sensor</p>
              <p class="card-text">Información del Sensor</p>
            </div>
          </div>
        </div>
        
        <!-- Sensor 4 -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card shadowed">
            <div class="card-body">
              <h2 class="card-title">
                <i class="material-symbols-outlined">water_ec</i> <!-- Icono de temperatura -->
                Sensor Conductividad
              </h2>
              <p class="card-text">Información del Sensor</p>
              <p class="card-text">Información del Sensor</p>
              <p class="card-text">Información del Sensor</p>
            </div>
          </div>
        </div>
        
        <!-- Sensor 5 -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card shadowed">
            <div class="card-body">
              <h2 class="card-title">
                <i class="material-symbols-outlined">water</i> <!-- Icono de temperatura -->
                Sensor Nivel de Agua
              </h2>
              <p class="card-text">Información del Sensor</p>
              <p class="card-text">Información del Sensor</p>
              <p class="card-text">Información del Sensor</p>
            </div>
          </div>
        </div>
        
        <!-- Sensor 6 -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card shadowed">
            <div class="card-body">
              <h2 class="card-title">
                <i class="material-symbols-outlined">thermostat</i> <!-- Icono de temperatura -->
                Sensor Temperatura
              </h2>
              <p class="card-text">Información del Sensor</p>
              <p class="card-text">Información del Sensor</p>
              <p class="card-text">Información del Sensor</p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  
</body>
</html>

  