<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Información de sensores</title>
</head>
<body>
  <app-navbar></app-navbar>

    <div class="container">
      <div class="paquete-container bg-light p-4 rounded border-gray shadowed">
        <div style="display: flex; gap: 10px;">
          <div class="live-indicator">VIVO</div>
        <h1 class="mb-4">{{ paquete.nombre }}</h1>
        </div>

        <div *ngIf="loading">
          <app-loading-spinner></app-loading-spinner>
        </div>

      <div class="row">
        <!-- Sensor 1 -->
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let propiedad of valores.data.data.propiedades; let i = index" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="card shadowed" (click)="openModal(propiedad, params['id'])">
            <div class="card-body">
              <h2 class="card-title">
                <!-- <i class="material-icons">thermostat</i> Icono de temperatura -->
                {{ propiedad }}
              </h2>
              <p class="card-text mb-0">Información del sensor</p>
              <p class="card-text mt-0">{{ valores.data.data.valores[i] }}</p>
            </div>
          </div>
        </div>
      </div>
      <p *ngIf="errorMessage">{{errorMessage}}</p>
      </div>
      <button class="btn mb-3" style="width: 100%; background-color: #006775; color: white" [routerLink]="['/historial', params['id']]">
        Mostrar historial
      </button>
      <button class="btn" style="width: 100%; background-color: #99d9e2;" routerLink="/home">
        Volver a pantalla de inicio
      </button>
    </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Promedio del sensor {{sensorName}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div>
         <div style="padding: 50px">
           <canvas #chartCanvas></canvas>
         </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>

