<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial</title>
</head>
<body>
    <app-navbar></app-navbar>
    <div *ngIf="loading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="data">
        <div *ngFor="let dato of data.data.data">
          <div class="contenedor-historial">
            <table class="table">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th *ngFor="let key of getKeys(dato)">
                    <ng-container *ngIf="key !== '_id' && key !== 'paquete_id' && key !== 'fecha' ">
                      {{ key }}
                    </ng-container>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ dato.fecha }}</td>
                  <td *ngFor="let key of getKeys(dato)">
                    <ng-container *ngIf="key !== '_id' && key !== 'paquete_id' && key !== 'fecha' ">
                      {{ dato[key] }}
                    </ng-container>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="contenedor-controles-responsivo" *ngIf="data.data.data.length != 0">
          <button *ngIf="data.data.prev_page_url" (click)="onPageChange(data.data.prev_page_url)" class="pagination-button">
            Anterior
          </button>
          
          <ng-container *ngFor="let link of data.data.links; let i = index">
            <button *ngIf="link.label !== '...'" (click)="onPageChange(link.url)" 
                    [class.disabled]="!link.url" [class.active]="link.active" 
                    class="pagination-button" [style.display]="link.active || i === 0 || i === data.data.links.length - 1 ? 'inline-block' : 'none'">
                    {{ translatePaginationLabel(link.label) }}
            </button>
          </ng-container>
        
          <button *ngIf="data.data.next_page_url" (click)="onPageChange(data.data.next_page_url)" class="pagination-button">
            Siguiente
          </button>
        </div>
        <div class="contenedor-controles" *ngIf="data.data.data.length != 0">
          <button *ngFor="let link of data.data.links"
                  (click)="onPageChange(link.url)"
                  [disabled]="!link.url"
                  [class.disabled]="!link.url"
                  [class.active]="link.active" 
                  class="pagination-button">
            {{ translatePaginationLabel(link.label) }}
          </button>
      </div>
    </div>
    <div class="container">

      <div *ngIf="data?.data?.data?.length == 0">
          <h1 style="text-align: center;">Todavía no tienes datos en historial</h1>
      </div>
    </div>
    
    <div style="width: 50%; margin: auto;">
      <button class="btn mt-3 mb-3" style="width: 100%; background-color: #99d9e2;" routerLink="/home">
        Volver a pantalla de inicio
      </button>
    </div>

</body>
</html>