.contenedor-controles {
  display: flex;
  justify-content: center; 
  width: 100%;
  margin-top: 20px;
}

.pagination-button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: #137a88;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

.pagination-button.active {
  color: white;
  background-color: #137a88;
}

.disabled {
  color: rgba(19, 122, 136, 0.5);
}
  

  .contenedor-historial{
    display: flex; 
    margin-top: 5px; 
    margin-bottom: 15px; 
    width: 90%;
    margin: auto;

  }