<div class="container">
    <h1>Inicia sesión</h1>
        <form action="" class="host">
            <mat-form-field style="width: 100%;">
                <mat-label>Ingrese su correo</mat-label>
                <input matInput placeholder="correo@dominio.com" [formControl]="email" required class="input">
            @if (email.invalid) {
                <mat-error>{{getErrorMessage()}}</mat-error>
            }
            </mat-form-field>
            <mat-form-field hintLabel="Minimo 8 caracteres">
                <mat-label>Ingrese su contraseña</mat-label>
                <input matInput #input minlength="8" placeholder="Contraseña" class="input" required >
            </mat-form-field>
                <button mat-raised-button color="primary">Primary</button>
            </form>
        <p class="register">¿No tienes cuenta? <a href="register">Registrate</a></p>
</div>